<div class="fixed" align="center">
	<nav class="top-bar" style="background-color: white; border-bottom: 1px solid #8e8e8e">
		<div class="small-6 columns" align="left" >
			<h3>Put your title here</h3>
		</div>
		<div class="small-3 columns" >
			<%= link_to "Main\nMenu", welcome_mainmenu_path, {:class => "button [tiny small large] expand" } %>
		</div>
		<div class="small-3 columns" >
			<%= link_to "Logout\nplease", logout_path, {:class => "button [tiny small large] expand" } %>
		</div>
	</nav>
</div>
<br />
<br />
<br />
<br />
<div class="row">
	<div class="medium-10 medium-centered columns">
		<h3>Menu</h3>
	</div>
</div>
<div class="medium-4 medium-centered row" align="center" style="padding: 20px">
	<div class="medium-10 medium-centered columns">
		<div class="medium-10 medium-centered row" style="margin-bottom: 20px">
			<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
		</div>
		<div class="row" style="border: 1px solid #081216; border-right: 0px; border-radius: 5px 5px">
			<div class="small-3 columns">
				label1
			</div>
			<div class="small-9 columns">
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
				<br />
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1"/> Button 1</a>
				</div>
			</div>
		</div>
		<br />
		<div class="row" style="border: 1px solid #081216; border-right: 0px; border-radius: 5px 5px">
			<div class="small-3 columns">
				Label2
			</div>
			<div class="small-9 columns">
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
				<br />
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
				<br />
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
				<br />
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
			</div>
		</div>
		<br />
		<div class="row" style="border: 1px solid #081216; border-right: 0px; border-radius: 5px 5px">
			<div class="small-3 columns" >
				Label3
			</div>
			<div class="small-9 columns">
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
				<br />
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
			</div>
		</div>
		<br />
		<div class="row border" style="border: 1px solid #081216; border-right: 0px; border-radius: 5px 5px">
			<div class="small-3 columns" >
				Label4
			</div>
			<div class="small-9 columns">
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
				<br />
				<div class="row">
					<a href="save" class="button [tiny small large] expand" value="Button 1" /> Button 1</a>
				</div>
			</div>
		</div>
	</div>
</div>
